@import "../../Mixins.scss";

.categories {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 20px;
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-weight: 500;
      font-size: 18px;
      @include sm {
        font-size: 24px;
      }
    }
    .underline {
      font-size: 14px;
      font-weight: 500;
      font-family: Outfit, Arial, sans-serif;
    }
    .underline::before {
      bottom: 0;
    }
  }
}
