@import "../../Mixins.scss";
.appLayout {
  // background-color: antiquewhite;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
  @include md {
    padding: 0 40px;
  }
  @include xl {
    padding: 0;
  }
}
